.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

#startModal, #gameField, #makeNumber, #maxModal, #minModal, #wrongRange {
    display: none;
}


body {font-family: Arial, Helvetica, sans-serif;}

.modalWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    border: none;
}


.modal-content {
    position: relative;
    background-color: #c1f7f1;
    margin: auto;
    padding: 0;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


.modal-header {
    padding: 2px 16px;
    background-color: #20ab51;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #20ab51;
    color: white;
    justify-content: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}



.enter-value {
    display: flex;
}

.minValue, .maxValue {
    width: 150px;
    margin-left: 15px;
}

#gameField {
    background-color: #c3edb9;
}

.card-header, .card-footer {
    background-color: #009B76;
    color: white;
}

#btnRetry {
    color: white;
}

#btnLess {
    background-color: #c5d4fb;
    color: black;
}

#btnOver {
    background-color: #f08488;
    color: black;
}

#btnEqual {
    width: 90px;
}

.card-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}